<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
<!-- Add if user statement -->
        <a href="/">HOME</a>
      <a href="/logout">LOG OUT</a>
<!-- Add if else statement -->
      <a href="/auth/google" class="login">LOG IN&nbsp;<img id="google-icon"src="https://i.imgur.com/FHjYyi0.png"></a>
<!-- add ending bracket -->
    </nav>
  <main>
