<%- include('./partials/header') %>
<main class="title-page-container">
  <h1 id="titlepage-title">NvrEndngStry</h1>
  <p>Welcome to NvrEndngStry, The online story fun game add another sentence with friends game!</p>
  <p>Collaborative storytelling is now online!</p>
  <div class="link-button">
  <img id="google-icon"src="https://i.imgur.com/FHjYyi0.png"><a href="/auth/google" class="login">LOGIN WITH GOOGLE&nbsp;</a>
  </div>
</main>
<%- include('./partials/footer') %>