<%- include('../partials/header') %>
<div class="title-page-container">
<h1><%= title %></h1>
<form class="new-form" action="/stories" method="POST">
    <label>Book Title:</label>
    <input class="input-new" type="text" name="title">
    <br>
    <label>Genre:</label>
    <input class="input-new" type="text" name="genre">
    <br>
    <input type="submit" value="Add Book">
</form>
</div>
<%- include('../partials/footer') %>