body {
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: center;
    background-image: url("https://miro.medium.com/max/2160/1*Xi7r6NEQL_yXTCwOabcUCw.jpeg");
    background-size: cover;
  }
  
  a {
    color: #296780;
    padding:10px;
  }
  
  nav {
    background-color: bisque;
    text-align: right;
    padding:25px 20vmin;
    border-bottom:1px solid black;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  nav > * {
    font-size: 24px;
  }
  
  
  table {
    margin: 0 auto;
    align-self: center;
    width: 50%
  }
  th {
    font-size: 24px;
    border-left: 2px dotted black;
    border-right: 2px dotted black;
  }
  
  td {
    text-align: left;
    border: 1px dotted black;
    font-size: 20px;
    padding:20px;
  }
  
  #story-body {
    padding: 30px;
  }
  
  .title-page-container {
    width: 33%;
    margin: 33vmin auto;
    background: rgba(159, 207, 189, 0.774);
    box-shadow: 0 0px 10px 0 rgba(255, 0, 0, 0.2), 20px 6px 20px 0 rgba(253, 253, 253, 0.664);
  }
  
  .title-page-container > * {
    padding: 20px;
  }
  
  .link-button {
    transition: all .5s;
    text-align:center;
    justify-content:center;
    font-size: 20px;
    background:rgba(246,245,250,.8)
  }
  
  #google-icon {
    height:1.2rem;
  }
  
  .link-button:hover {
    background:darkgrey;
    color:white;
    }

    .link-button:hover > a {
        transition: all .5s;
        color:white;
        }